
body {
	font-family: 'Magistral';
	font-size: 15px;
	/*line-height: 1.5;*/
	color: black;
	background-color:#ffffff;
	-webkit-font-smoothing: antialiased;
}
/*--------- Body End -------*/
/*---------- Normal css start -------*/
a {
	color: #DF2025;
	text-decoration: none;
}
a:hover, a:focus {
	color: #535465;
	text-decoration: none;
}
a:focus {
	outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/*font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.1;*/
	color: #222222;
}
img {
	max-width: 100%;
}
input {
	outline: none;
	border-radius:0px;
}
input:focus {
	outline: none;
	box-shadow:none;
}
textarea {
	outline: none;
	border-radius:0px;
}
textarea:focus {
	outline: none;
	box-shadow:none;
}
.gm_toppadder10{
	padding-top:10px;
}
.gm_toppadder20{
	padding-top:20px;
}
.gm_toppadder30{
	padding-top:30px;
}
.gm_toppadder40{
	padding-top:40px;
}
.gm_toppadder50{
	padding-top:50px;
}
.gm_toppadder60{
	padding-top:60px;
}
.gm_toppadder70{
	padding-top:70px;
}
.gm_toppadder80{
	padding-top:80px;
}
.gm_toppadder90{
	padding-top:90px;
}
.gm_toppadder100{
	padding-top:100px;
}
.gm_bottompadder10{
	padding-bottom:10px;
}
.gm_bottompadder20{
	padding-bottom:20px;
}
.gm_bottompadder30{
	padding-bottom:30px;
}
.gm_bottompadder40{
	padding-bottom:40px;
}
.gm_bottompadder50{
	padding-bottom:50px;
}
.gm_bottompadder60{
	padding-bottom:60px;
}
.gm_bottompadder70{
	padding-bottom:70px;
}
.gm_bottompadder80{
	padding-bottom:80px;
}
.gm_bottompadder90{
	padding-bottom:90px;
}
.gm_bottompadder100{
	padding-bottom:100px;
}
.gm_padderboth120{
	padding:120px 0px;
}
/*---------- Normal css end -------*/
/*---------- Preloader css start -------*/
#preloader {
	background-color: #fff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2147483647;
	width: 100%;
	height: 100%;
}
#status {
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
#status img {
}
/*---------- Preloader css end -------*/
/*---------- Header/Menu css start -------*/
.gm_header_wrapper{
    float: left;
    width: 100%;
/*position:absolute;*/
    /*background: url('../images/0000.png');*/
}

.el_home_section{    margin-top: 0px;/*background-position-y: 100%;*/    background-position-y: 20%;
    background-position-x: 40%;
display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}
.gm_logo{
    float: left;
    width: 100%;
        padding-top: 5px;
    padding-bottom: 5px;
}
.gm_menu {
    float: left;
    width: 100%;
	position: relative;
}
.gm_menu ul {
    float: right;
    width: auto;
	margin:0;
	padding:0;
}
.gm_menu ul li {
	list-style:none;
	float:left;
	margin-right:20px;
}
.gm_menu ul li:last-child{
	margin-right:0px;
}
.gm_menu ul li a {
    display: block;
    text-transform: uppercase;
    color: #000831;
    font-weight: 500;
    padding: 25px 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_menu ul li:hover a, .gm_menu ul li a.active {
	color: #DF2025;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_menu_btn{
	display:none;
}
.menu_fixed {
	    background: white;
    position: fixed;
	top:0;
    z-index: 1000;
    padding: 0px 0px;
    -moz-box-shadow: 0px -5px 20px;
    -webkit-box-shadow: 0px -5px 20px;
    box-shadow: 0px -5px 20px;
}
.menu_fixed .gm_menu ul li a, .menu_fixed .gm_logo a {color:black;}
.menu_fixed .gm_menu ul li a.active {    color: #206cd4;}
.gm_slider_wrapper{
	float:left;
	width:100%;
	color:#ffffff;
}
.gm_slider{
	float:left;
	width:100%;
}
.gm_btn{
	display:inline-block;
	height:50px;
    line-height: 50px;
	padding:0px 20px;
	min-width:150px;
	background-color:#206cd4;
	color:#ffffff;
	text-transform:uppercase;
	border:1px solid #206cd4;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_btn:hover, .gm_btn:focus{
	background-color:#ffffff;
	color:#206cd4;
	border:1px solid #206cd4;
	outline:none;
	box-shadow:none;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_heading{
	float:left;
	width:100%;
	text-align:center;
}
.gm_heading h1{
	float:left;
	width:100%;
	margin:0px 0px 10px 0px;
	text-transform:uppercase;
}
.gm_heading h1 a{
	color:#206cd4;
}
.gm_heading p{
	float:left;
	width:100%;
	margin:0px;
}
/*---------- Header/Menu css end -------*/
/*---------- Offer css start -------*/
.gm_offer_wrapper{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.gm_bnr_infowrapper{
	float:left;
	width:100%;
}
.gm_bnr_text{
	float:left;
	width:100%;
	padding-top:100px;
	    color: white;
		text-align:center;
}
.gm_bnr_text h1{
	float:left;
	width:100%;
	font-size:48px;
	text-transform:capitalize;
	margin-bottom:15px;
}
.gm_bnr_text p{
	float:left;
	width:100%;
	font-size:17px;
	text-transform:capitalize;
	margin-bottom:30px;
}
.gm_bnr_text a{
	float:left;
	width:auto;
	font-size:15px;
	color:#206cd4;
	border-bottom:1px dotted #206cd4;
	text-transform:uppercase;
}
.gm_bnr_form{
	float:left;
	width:100%;
	padding:50px 40px;
	text-align:center;
	/*background-color:#222222;*/
}
.gm_bnr_form form{
	float:left;
	width:100%;
}
.gm_bnr_form h3{
	float: left;
    width: 100%;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0px 0px 40px 0px;
}
.gm_bnr_form input[type="text"], .gm_bnr_form select{
	float:left;
	width:100%;
	height:50px;
	padding:0px 20px;
	background-color:#ffffff;
	margin-bottom:20px;
	border:none;
}
.gm_bnr_form textarea{
	float:left;
	width:100%;
	padding:10px 20px;
	background-color:#ffffff;
	margin-bottom:20px;
	border:none;
}
.gm_bnr_form input[type="text"]:focus, .gm_bnr_form select:focus, .gm_bnr_form textarea:focus{
	border:none;
	outline:none;
}
.gm_bnr_form .gm_btn{
	width:100%;
}
/*---------- Offer css end -------*/
/*---------- classes css start -------*/
.gm_service_wrapper, .gm_gallery_wrapper, .gm_faq_wrapper{
	float:left;
	width:100%;
	background: url('../images/fon-light.jpg');
}
/*.gm_blog_wrapper {background: url('../images/fon-dark.jpg');}*/
/*.gm_blog_wrapper2 {background: url('../images/fon-dark2.jpg');}*/
.gm_blog_wrapper *, .gm_blog_wrapper2 *{ color:white; text-align:center;}
.gm_service_box{
	float:left;
	width:100%;
	text-align:center;
}
.gm_service_img{
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_service_img:after{
	content:"";
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	background-color:rgba(0, 0, 0, 0.5);
	opacity:0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_service_box:hover .gm_service_img:after{
	opacity:1;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_service_box:hover img{
	-webkit-transform:scale(1.1) rotate(2deg);
	-moz-transform:scale(1.1) rotate(2deg);
	-o-transform:scale(1.1) rotate(2deg);
	-ms-transform:scale(1.1) rotate(2deg);
	transform:scale(1.1) rotate(2deg);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_service_img img{
	display:inline-block;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_service_info{
    float: left;
    width: 100%;
    padding: 20px;
}
.gm_service_info h3{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
}
.gm_service_info p{
	float:left;
	width:100%;
	margin-bottom:20px;
}
.gm_service_info span{
	float:left;
	width:100%;
	color:#206cd4;
}
/*---------- classes css end -------*/
/*---------- Counter css start -------*/
.gm_counter_wrapper{
    float: left;
    width: 100%;
    background-image: url(http://placehold.it/1920X1080);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gm_counter_box{
	float:left;
	width:100%;
}
.gm_counter{
    float: left;
    width: 100%;
    text-align: center;
}
.gm_counter i{
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 25px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50px;
    background-color: #206cd4;
}
.gm_counter h2{
    float: left;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px;
    font-size: 36px;
}
.gm_counter h4{
    float: left;
    width: 100%;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 20px;
}
/*---------- Counter css end -------*/
/*---------- Blog css start -------*/
.gm_blog_wrapper{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.gm_blog_box{
	float:left;
	width:100%;
}
.gm_blog_info{
	float:left;
	width:100%;
	text-align:left;
    padding-top: 30px;
}
.gm_blog_info ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.gm_blog_info ul li{
	list-style:none;
	float:left;
	width:auto;
	margin-right:15px;
}
.gm_blog_info ul li a{
    font-size: 13px;
	color:#222222;
	text-transform:capitalize;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_blog_info ul li a:hover{
	color:#206cd4;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_blog_info ul li a i{
	color:#206cd4;
	margin-right:5px;
}
.gm_blog_info h3{
	float: left;
    width: 100%;
    font-size: 28px;
    font-weight: 300;
}
.gm_blog_info p{
	float:left;
	width:100%;
	margin-bottom:30px;
}
.gm_blog_info span{
    float: left;
    width: 100%;
    margin-bottom: 15px;
    font-size: 17px;
    color: #222222;
}
.gm_blog_img{
	float:left;
	width:100%;
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_blog_img:after{
	content:"";
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	background-color:rgba(0, 0, 0, 0.5);
	opacity:0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_blog_box:hover .gm_blog_img:after{
	opacity:1;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_blog_box:hover .gm_blog_img img{
	-webkit-transform:scale(1.1) rotate(2deg);
	-moz-transform:scale(1.1) rotate(2deg);
	-o-transform:scale(1.1) rotate(2deg);
	-ms-transform:scale(1.1) rotate(2deg);
	transform:scale(1.1) rotate(2deg);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_blog_img img{
	display:inline-block;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*---------- Blog css end -------*/
/*---------- Price Table css start -------*/
.gm_price_wrapper{
	float:left;
	width:100%;
	background-color:#f7f7f7;
}
.gm_price_box{
	float:left;
	width:100%;
	text-align:center;
	border:1px solid #e1e1e1;
	padding:50px;
	position:relative;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_price_box:hover{
	background-color: #ffffff;
    border: 1px solid transparent;
	border-top:1px solid #206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0px 15px 20px -10px rgba(0, 0, 0, 0.5);
}
.gm_price_box h5{
	position:absolute;
	top:-25px;
	left:0px;
	right:0px;
	margin:0px auto;
	width:200px;
	height:50px;
	line-height:50px;
	text-transform:uppercase;
	font-size:16px;
	background-color:#f7f7f7;
	border:1px solid #e1e1e1;
	border-radius:50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_price_box:hover h5{
	background-color:#ffffff;
	border-color:#206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_price_box h1{
	float:left;
	width:100%;
	font-size:80px;
	margin:30px 0px; 
}
.gm_price_box h1 sup{
    font-size: 20px;
    top: -50px;
}
.gm_price_box h1 sub{
    font-size: 20px;
    bottom: 0;
}
.gm_price_box p{
	float:left;
	width:100%;
	font-size:16px;
	margin:0px 0px 20px 0px;
	color:#222222;
	font-weight:600;
}
.gm_price_box ul{
	float:left;
	width:100%;
	margin:0px 0px 30px 0px;
	padding:0px;
}
.gm_price_box ul li{
	float:left;
	width:100%;
	list-style:none;
    padding: 5px 0px;
}
/*---------- Price Table css end -------*/
/*---------- Team css start -------*/
.gm_team_wrapper{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.gm_team_box{
	float:left;
	width:100%;
	text-align:center;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_team_box:hover .gm_team_info{
	bottom:0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_team_info{
	position: absolute;
    bottom: -45px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: 0px auto;
    background-color: #206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_team_info h4{
	float:left;
	width:100%;
	margin-bottom:0px;
	text-transform:capitalize;
	color:#ffffff;
}
.gm_team_info p{
	float:left;
	width:100%;
	text-transform:capitalize;
	color:#ffffff;
	position:relative;
    margin-bottom: 15px;
}
.gm_team_info p:after{
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: #ffffff;
    width: 80px;
    height: 1px;
}
.gm_team_info ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.gm_team_info ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 2px 0px 2px;
}
.gm_team_info ul li a{
    float: left;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_team_info ul li a:hover{
    background-color: #ffffff;
    color: #206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*---------- Team css end -------*/
/*---------- Gallery css start -------*/
.gm_gallery_wrapper{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.gm_gallery_box{
	float:left;
	width:100%;
}
.gm_gallery_boxes{
	float:left;
	width:100%;
	
	position:relative;
	overflow:hidden;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_gallery_boxes a:after{
	content:"";
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	bottom:0px;
	background-color:rgba(0, 0, 0, 0.5);
	opacity:0;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_gallery_boxes a:hover:after{
	opacity:1;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_gallery_boxes:hover img{
	-webkit-transform:scale(1.1) rotate(2deg);
	-moz-transform:scale(1.1) rotate(2deg);
	-o-transform:scale(1.1) rotate(2deg);
	-ms-transform:scale(1.1) rotate(2deg);
	transform:scale(1.1) rotate(2deg);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_gallery_boxes img{
	display:inline-block;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
/*---------- Gallery css end -------*/
/*---------- Testimonial css start -------*/
.gm_testimonial_wrapper{
	float:left;
	width:100%;
	background-image:url(http://placehold.it/1920X1080);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.gm_testimonial_box{
	float:left;
	width:100%;
	padding:60px 0px;
}
.gm_testimonial_box h4{
	float:left;
	width:100%;
	color:#ffffff;
	font-size:25px;
	font-style:italic;
}
.gm_testimonial_box p{
	float:left;
	width:100%;
	color:#ffffff;
	font-size:15px;
}
.gm_testimonial_box .owl-theme .owl-nav{
	display:none;
}
.gm_testimonial_box .owl-theme .owl-dots {
    text-align: right;
}
.gm_testimonial_box .owl-theme .owl-dots .owl-dot span {
    background: #ffffff;
}
.gm_testimonial_box .owl-theme .owl-dots .owl-dot.active span, .gm_testimonial_box .owl-theme .owl-dots .owl-dot:hover span {
    background: #206cd4;
}
/*---------- Testimonial css end -------*/
/*---------- FAQ css start -------*/
.gm_faq_wrapper{
	/*float:left;
	width:100%;
	background:url('../images/img3.jpg');*/
}
.gm_faq_wrapper h1 {color:#206cd4;}
.gm_faq_box{
	float:left;
	width:100%;
}
.gm_faq_box h4{
	float:left;
	width:100%;
	font-size:18px;
	margin:0px 0px 10px 0px;
}
.gm_faq_box p{
	float:left;
	width:100%;
	font-size:14px;
	margin-bottom:40px;
}
/*---------- FAQ css end -------*/
/*---------- Download css start -------*/
.gm_download_wrapper{
	float:left;
	width:100%;
	background-color:#ffffff;
}
.gm_download_box{
	float:left;
	width:100%;
	text-align:center;
}
.gm_download_box ul{
	float:left;
	width:100%;
	margin:0px;
	padding:0px;
}
.gm_download_box ul li{
	display:inline-block;
    width: auto;
    list-style: none;
    margin-right: 10px;
}
.gm_download_box ul li:last-child{
	margin-right:0px;
}
/*---------- Download css end -------*/
/*---------- Map css start -------*/
.gm_map {
    float: left;
    width: 100%;
}
#map {
    display: block;
    width: 100%;
    height: 500px;
    margin: 0 auto;
}
/*---------- Map css end -------*/
/*---------- Contact form css start -------*/
.gm_contact_wrapper{
	float:left;
	width:100%;
	background-color:#ffffff;
}
/*---------- Contact form css end -------*/
/*---------- Footer css start -------*/
.gm_footer_top_wrapper{
	float:left;
	width:100%;
	text-align:center;
    background-color: #ffffff;
	background-image:url(http://placehold.it/1920X1080);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.gm_footer_logo{
	float:left;
	width:100%;
}
.gm_footer_logo img{
	display:inline-block;
}
.gm_footer_menu{
	float:left;
	width:100%;
}
.gm_footer_menu ul{
    display: inline-block;
    width: auto;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #a1a1a1;
}
.gm_footer_menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 20px 0px 10px;
    position: relative;
}
.gm_footer_menu ul li:after {
    position: absolute;
    content: "|";
	top:0;
    right: 0;
    color: #222222;
}
.gm_footer_menu ul li:last-child:after{
	display:none;
}
.gm_footer_menu ul li:last-child{
	padding-right:10px;
}
.gm_footer_menu ul li a {
    font-weight: 500;
	color:#222222;
    text-transform: capitalize;
}
.gm_footer_menu ul li a:hover{
	color:#206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_footer_address{
    float: left;
    width: 100%;
    padding: 20px 0px 0;
}
.gm_footer_address p{
	float:left;
	width:100%;
	color:#222222;
}
.gm_footer_address p a{
	color:#222222;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_footer_address p a:hover{
	color:#206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_footer_address p i{
	padding-right:5px;
	color:#206cd4;
}
.gm_footer_bottom_wrapper{
	float:left;
	width:100%;
	background: url('../images/fon-bottom2.jpg');
	background-repeat: no-repeat;
    background-color: #24272e;
	padding:20px 0px;
}
.gm_footer_bottom_wrapper h1 {color:white; text-transform:uppercase; text-align:center;}
.gm_footer_links{
	float:left;
	/*width:100%;*/
}
.gm_footer_links ul{
    float: right;
    width: auto;
    padding: 0;
    margin: 0;
}
.gm_footer_links ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 0px 0px 5px;
}
.gm_footer_links ul li:last-child{
	padding-right:0px;
}
.gm_footer_links ul li a {
    float: left;
    color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    line-height: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_footer_links ul li a:hover{
	background-color:#ffffff;
	color:#206cd4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_footer_copyright{
	float:left;
	width:100%;
}
.gm_footer_copyright p{
	float: left;
    width: 100%;
    margin-bottom: 0px;
    color: #ffffff;
    padding-top: 5px;
}
/*---------- Footer css end -------*/
/*---------- Responsive Css -------*/

@media (max-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {
.page1 .size  span.lab , .page1 .style span.lab  {display:block;     margin-bottom: 8px;}
.gm_blog_info h3 {
    margin-top: 0px;
}
.gm_menu ul li {
    margin-right: 18px;
}

}

@media (min-width: 768px) and (max-width: 991px) {
.page1 .size  span.lab , .page1 .style span.lab  {display:block;     margin-bottom: 8px;}
.gm_logo {
    text-align: center;
}
.gm_menu {
    text-align: center;
}
.gm_menu ul {
    float: none;
    display: inline-block;
}
.gm_menu ul li a {
    padding: 15px 0px;
}
.gm_blog_info {
    padding-top: 0px;
}
.gm_blog_info h3 {
    margin-top: 10px;
}
.gm_price_box {
    padding: 30px 10px;
}
.gm_header_info ul li {
    margin-right: 8px;
}
.gm_price_box h5 {
    width: 150px;
}
.gm_team_info {
    width: auto;
}
}

@media (max-width: 767px) {
	.page1 .price {margin-top: 15px;}
	.page1 a.button  {margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    max-width: 300px;}
	
	.page1 .size  span.lab , .page1 .style span.lab  {display:block;     margin-bottom: 8px;}
	.second.gm_offer_wrapper.gm_toppadder80.gm_bottompadder80 {padding-top: 10px;}
.menu_fixed {
   /* position: initial;*/
}
.gm_menu_btn{
    display: block;
    float: none;
    position: absolute;
    top: 20px;
    right: 15px;
    border: none;
    width: 40px;
    height: 30px;
    font-size: 16px;
    color: #ffffff;
    background-color: #206cd4;
    border-radius: 3px;
}
.gm_menu_btn:hover, .gm_menu_btn:focus{
	outline:none;
	border:none;
	box-shadow:none;
	text-shadow:none;
}
.gm_main_menu_wrapper{
	z-index: 2;
	position:fixed;
    left: 0px;
    top: 0px;
	bottom:0px;
    background-color: #206cd4;
	-webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_main_menu_wrapper {
    width: 300px;
}
.gm_main_menu_wrapper.gm_main_menu_hide{
	-webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.gm_menu ul {
    width: 100%;
}
.gm_menu ul li {
    width: 100%;
}
.gm_menu ul li a{
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
    color: #ffffff;
}
.gm_menu ul li a.active {
    color: #206cd4;
	background-color:#ffffff;
}
.gm_header_info{
	padding-right:55px;
}
.gm_menu ul li:hover a {
    background-color: #ffffff;
}
.gm_bnr_form{
	margin-top:50px;
}
.gm_bnr_text{
	padding-top:0px;
}
.gm_header_wrapper{
    /*padding-bottom: 11px;*/
}
.gm_header_wrapper.fadeInDown {
    -webkit-animation-name: inherit;
    animation-name: inherit;
}
.gm_blog_box{
	padding-top:40px;
}
.gm_blog_info h3{
	margin-bottom:20px;
	margin-top:30px;
}
.gm_price_box{
	margin-bottom:50px;
}
.gm_testimonial_wrapper{
	padding:80px 0px;
}
.gm_footer_copyright {
    text-align: center;
	margin-bottom:10px;
}
.gm_footer_links ul {
    width: 100%;
    text-align: center;
}
.gm_service_box {
    margin: 10px 0px;
}
.gm_service_img {
    float: none;
    width: auto;
    display: inline-block;
}
.gm_blog_img {
    float: none;
    width: auto;
    display: inline-block;
}
.gm_price_wrapper {
    text-align: center;
}
.gm_gallery_box {
    text-align: center;
}

}

@media (min-width: 480px) and (max-width: 767px) {

.gm_price_box {
    float: none;
    width: 400px;
    display: inline-block;
}
.gm_gallery_boxes {
    float: none;
    width: auto;
    display: inline-block;
}

}
@media (max-width: 355px) {
	.gm_gallery_wrapper td {
		word-break: break-all;
	}
	.gm_slider_wrapper .el_home_text h1 {font-size: 25px !important;}
}
@media (max-width: 479px) {
	.gm_blog_box.gm_bottompadder50.revv {width:96%;}
	.el_home_text h1 {font-size: 26px !important;
    text-align: center;}
	.el_home_caption p {
    font-size: 18px !important;
    text-align: center;
}
.el_home_caption button, .el_home_caption  a.button{
    padding: 10px 10px;
	text-align:center;
    font-size: 17px;
width: 100%;}

.el_home_section{/*background-position-x: 45%;
    background-position-y: 78%;*/
	background-position-x: 15%;
    background-size: cover;
	padding-bottom: 135px;
	}
.rebl img {margin-bottom:15px;}
.gm_gallery_boxes img {
    width: 100%;
}
.gm_main_menu_wrapper {
    width: 250px;
}
.gm_header_wrapper .col-xs-8 {
    width: 100%;
}
.gm_header_wrapper .col-xs-4 {
    width: 100%;
}
.gm_header_info{
    padding-right: 0px;
    margin-top: 40px;
    text-align: center;
}
.gm_header_info ul {
    float: none;
    display: inline-block;
}
.gm_menu_btn {
    right: 5px;
	padding: 0;
}
.row.pad {padding:0 !important;}
.gm_bnr_form{
	padding:20px;
}
.gm_price_box {
    padding: 30px 10px;
}
.gm_testimonial_wrapper{
	padding:20px 0px;
}
.gm_footer_menu ul li {
    padding: 0px 20px 10px 10px;
}

}

@media (max-width: 380px) {
	
.gm_download_box ul li{
    margin-right: 0px;
	margin:10px 0px;
}
.gm_main_menu_wrapper {
    width: 200px;
}
}


.gm_logo a{/*font-family: Montserrat;*/
	color:white;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 1.2em;}
	
	
.el_home_caption {text-align:right;}
.visible-xs .el_home_text h1, .gm_slider_wrapper .visible-xs p{ color:black; text-align:center;}
.gm_slider_wrapper .visible-xs a.button {background: #fa7739 !important; margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    max-width: 300px;
    padding: 10px;}
.gm_slider_wrapper .visible-xs {margin-top: 82px;}
.el_home_text h1{color: white;
    font-size: 68px;
    font-weight: bold;
    text-transform: uppercase;}
	
.el_home_caption p {font-size: 24px;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {font-weight:normal;}
.el_home_caption .blk {    max-width: 691px;
    float: left;
    padding: 15px;
    /*background: #00000080;*/    text-align: left;}
	
button, a.button {   background: #8AC2E0;
    border-radius: 8px;
    border: none;
    padding: 11px 30px;
    font-size: 18px;
	display: inline-block;}
	
table.rev i.fa.fa-star{ float:right;margin-left:5px;}
table.rev i.fa.fa-check-circle {margin-left:5px;color: #333333;}
table.rev .grey {    color: #929191; font-size:14px;}
table.rev .paddingtb {padding-top: 10px; padding-bottom: 10px;}
table.rev  {    width: 100%;}
.rebl {background:#f0f0f0;    padding: 10px;display: inline-block;    width: 100%;}
.rebl img {    margin-left: auto;
    margin-right: auto;
    display: block;}
.rebl .col-lg-6.first {/*padding-left: 0;*/}
.row.pad {padding: 10px;}
 
.gm_gallery_box.popup-gallery .col-lg-4.col-md-4.col-sm-4.col-xs-12 {padding:0;}


h3 {    font-size: 18px;
    font-weight: bold !important;}
	
	
.block-form	{/*background: url('../images/img2.jpg');*/    border-bottom: 1px solid #cac6c6;     padding-top: 30px;
    padding-bottom: 200px;}

.block-form h1 {text-transform:uppercase; /*color:white;*/text-align:center;padding-bottom: 15px;
   /* border-bottom: 1px solid #576c95;*/font-size: 30px; /*margin-bottom:30px;*/}
	
:checked + span {
    font-weight: bold;
    background-color: #194aa2;
	    color: white !important;
    border: 1px solid #194aa2 !important; transition-duration: 1s;    cursor: initial !important;
}

label {    font-weight: bold;}

input[type="radio"] {display:none;}
span.lab {margin-right:15px; color:black;    font-weight: bold;     width: 50px;
    display: inline-block;}
span.lab + label {margin-right:5px;}

.size span.but  {padding: 2px 14px;}

span.but {border: 1px solid black;transition-duration: 1s;cursor:pointer;
    padding: 2px 20px;
    color: black;
    text-transform: uppercase;}
	
span#price,span#coast {color:#fa7739; font-size:26px;font-weight: bold;}

.price, .size, .style {margin-bottom:22px;}

input {max-width:100%;}

.initial label, .name label{display:block;  color: black;    font-weight: bold;}
.initial input, .name input {    background: transparent;
    border: 1px solid black;}
	.initial input {width:75px; color: #194aa2;text-transform: uppercase;
    padding: 1px 10px;}
	
	.name input  {color: black; padding: 1px 5px;}
.initial {    float: left;
    margin-right: 30px;}
.initial, .name {    margin-top: 20px;}
.dashed {border-bottom: 1px dashed #194aa2;}

span.char {display: block;
    font-size: 12px;
    margin-top: 5px;
    color: #90c8f6;}
	
.input-group.quant {width: 130px;}
.quant-bl {color:black;margin-top: 20px;}

button.order, a.button {    margin-top: 30px;
    margin-bottom: 30px;
    color: white;}
	
.btn.btn-default.btn-number {background: transparent;
    border: 1px solid black;
    border-radius: 0;}
	
.btn.btn-default.btn-number	.glyphicon {color:black;}


.input-group.quant input.form-control.input-number {background: #194aa2;
    color: white;
    text-align: center;    border: none;}
	
.need {text-align: center;
    border: 1px dashed #5b84bf;
    padding: 10px;
   /* background: #337ab74d; */   margin-bottom: 30px;}


.need h5 {    color: #194aa1;
    text-transform: uppercase;
    font-size: 18px;}
	
	
.need 	.fa.fa-envelope {font-size: 28px;    margin-top: 12px;
    color: #7f97c3;}
	
.need 	.cont {color:#fa7739; font-size:18px;    margin-top: 20px;}

.page2 {display:none;}

.some-form__line {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.some-form__line-required .some-form__hint{
  opacity: 1;
  z-index: auto;
}
.some-form__hint {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -6px;
  padding: 0 12px;
  width: 100%;
  background: #f45a57;
  color: #fff;
  font-size: 12px;
  line-height: 1.333333;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


.page1 a.button {background: #fa7739 !important;}


@media (max-width: 500px) {
	.show-mob {display:block !important;}
	.hide-mob {display:none;}
}
.show-mob {display:none;}



@media (min-width: 768px) {
.gm_header_wrapper .container .row, .gm_header_top .row		{display: flex;
  align-items: center;
	justify-content: center;}
	
	}
	
	
.gm_header_top p {text-align:center; font-size:14px; color:white; margin-bottom:5px;}
.gm_header_top  .dropdown  {    margin-bottom: 5px;}
	.gm_header_top {background-color: #1D212A;background-image: url('../images/top.png');
    background-repeat: no-repeat;
    background-position-x: 50%;
    padding-top: 10px;
    background-position-y: 100%;}

.second.gm_offer_wrapper {background: #1D212A;/*background-image:url('../images/volna1.png');*/background-repeat: no-repeat;
    background-position-y: 73%; color:white;position: relative;}
	.second.gm_offer_wrapper h3 {color:white;}
	.second.gm_offer_wrapper img	{background-color: #1d212a;}
.second.gm_offer_wrapper 	.babl {position: absolute;
    width: 78%;
    height: 162px;
    background: url('../images/ball.png');
    top: 130px;}
	.second.gm_offer_wrapper 	.babl:after { content: ''; background: url('../images/arrow-red.png');
    width: 18px;
    height: 162px;
    display: block;
    position: absolute;
    right: 0;    background-repeat: no-repeat;
    background-color: #1d212a;}
	
.gm_service_wrapper h2 {text-align:left;}

.gm_service_wrapper .gm_service_box {background: linear-gradient(180deg, #FFFFFF 0%, #234354 100%), #E4E4E4;
border: 1px solid #686868;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.gm_service_wrapper .gm_service_box img {max-height:149px;    margin-bottom: 20px;
    margin-top: 10px;
}
.gm_service_wrapper .gm_service_box  h3
{    font-weight: normal !important;
    font-size: 24px;}

	.gm_service_wrapper .gm_service_box .gm_service_info a{border: 1px solid #8AC2E0;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    padding: 12px 50px;}
	
	
	.gm_service_wrapper .gm_service_box .gm_service_info a:hover{background: #DF2025;}
	
	
	.head-t {    border-left: 4px solid #000831;
    padding-left: 15px;}
	.head-t.white { border-left: 4px solid white;}
	.block-form {color:white; background: #1D212A;}
	.block-form h3 {color:white;}
	
	
.gm_service_box2 img {display: block;
    margin-left: auto;
    margin-right: auto;    margin-bottom: 20px; max-height:140px; height:auto;}
	
.gm_service_box2	{    text-align: center;    padding-bottom: 20px;
    padding-top: 20px;}
.gm_service_box2	a{border: 1px solid #8AC2E0;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;
    padding: 12px 50px;}
.gm_service_box2	a:hover	{background: #8AC2E0; }
.gm_service_box2 .s-img {height:160px;}

.gm_service_box2 .s-button	{    padding-top: 15px;
    padding-bottom: 15px;}
	
.block-form  .border .s-img{border-right:1px solid rgba(138, 194, 224, 0.55); border-left:1px solid rgba(138, 194, 224, 0.55);}
.block-form  .line {border-bottom:1px solid rgba(138, 194, 224, 0.55); max-width:80%; margin-left:auto; margin-right:auto;margin-top:20px;}

.gm_header_wrapper.menu_fixed #imglogo {max-height:90px;}


.block-transport	{background: linear-gradient(180.51deg, #FFFFFF -27.73%, rgba(255, 255, 255, 0) 99.56%), #567A8C;
box-shadow: 0px 17px 13px -1px rgba(0, 0, 0, 0.35);
border-radius: 20px; text-align:center;padding: 20px; margin-top: 25px;
    margin-bottom: 30px;}


.gm_gallery_wrapper td {background: rgba(226, 226, 226, 0.45);
border-radius: 10px;       width: 50%;    padding: 12px; }

.gm_gallery_wrapper table{border-collapse: separate;
    border-spacing: 4px 4px;    max-width: 450px;
    margin-left: auto;
    margin-right: auto;}
	.gm_gallery_wrapper table p {margin:0;    font-size: 14px;}
	.gm_gallery_wrapper table td.h p {font-size:16px; font-weight:bold;}
	.gm_gallery_wrapper table td.head p {font-size:20px;}
	
	.block-transport .sotr {font-size:20px;     text-decoration: underline;}
	
.block-avto img{border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 15px;margin: 15px 0; width:420px; height:auto;}	
	
.button-red	{background: #DF2025;
border-radius: 8px; font-size:20px; color:white; font-weight:bold; padding:10px 30px;    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; text-align:center;}
@media (min-width: 768px) {
.block-transport .row {    display: flex;
    align-items: center;
    justify-content: center;}
}
@media (max-width: 768px) {
	img.shadow {
    max-width: 100% !important;
    margin-left: 0px !important;}
	.gm_header_top .dropdown {text-align:center;}
.gm_header_top .dropdown	.dropdown-menu	{left: calc(50% - 102px);}
.gm_service_box2 a{padding: 8px 9px;
    display: block;}
}

form input{border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;    padding: 12px; background:transparent;}


.gm_blog_wrapper form {max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 30px;}
	
.liner {background: #1D212A; height:5px;    float: left;
    width: 100%;}
	
.block-think {background: #434853;
border-radius: 20px; text-align:center;padding: 40px 15px 0px 15px; color:white;margin: 0 15px;}

.gm_faq_wrapper .head-t  {    margin-bottom: 40px;}

.gm_faq_wrapper.second .use-materials {text-align:center; background: rgba(84, 84, 84, 0.3);
border-radius: 28px;    padding: 40px;}

.gm_faq_wrapper.second .use-materials p{    font-size: 20px;
    margin-top: 30px;}
	
.gm_blog_wrapper2  input {margin-bottom:20px;background: white;
    color: black;    min-width: 300px;}
	.gm_blog_wrapper2 .submit { min-width: 300px;}
	.gm_blog_wrapper2 form {margin-top:40px;}
	
.gm_footer_bottom_wrapper1 {background: url('../images/fon-bottom1.png');    height: 20px;    margin-top: -20px;}
.gm_footer_bottom_wrapper {color: white !important;    padding-top: 60px;}
.gm_footer_bottom_wrapper h4 { font-size: 21px;color: white !important;margin-bottom: 40px;}

.gm_footer_bottom_wrapper .phone i	{color:#8AC2E0; margin-right: 10px;}
.gm_footer_bottom_wrapper .perev i {color:#8AC2E0; margin-right: 10px;}

.gm_footer_bottom_wrapper .perev	ul {list-style: none;
    padding-left: 0;}
	
	.gm_footer_bottom_wrapper .perev	ul a{color: white;
    font-size: 17px;}
	.gm_footer_bottom_wrapper .perev	ul li {line-height:30px;}
	
	
	.img-sotr {border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 17px 13px -1px rgba(0, 0, 0, 0.35);
border-radius: 15px;margin-bottom: 20px;}

.gm_footer_up {    float: left;
    width: 100%;
    text-align: center; background:#2C313D; color:white;    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;}
	.gm_footer_up a { color:white;}
	
	
	
	@media (min-width: 768px) {
	.navbar.navbar-default .container-fluid{    display: flex;
    align-items: center;
    }
	}
	@media (max-width: 768px) {
		.caret {
	    margin-left: 10px;
    color: white;
}
		h2, .h2 { font-size: 20px !important;}
		h1, .h1 { font-size: 24px !important;}
		.gm_service_box2 {min-height:311px}
		.gm_service_box2 .line {display:none;}
		.block-form .border .s-img {border:none;}
	#imglogo {    height: 90px;}
	button.navbar-toggle {margin-top: 25px;}
	}
	
	
	.gm_header_wrapper .navbar-default .navbar-nav > li > a {color: #000831;}
	
	.gm_header_wrapper .navbar-default .navbar-nav > li > a:hover{color: #DF2025;}
	
	h1, .h1 {font-size: 30px;margin-bottom: 35px;    margin-top: 35px; text-transform:uppercase;}
	h2, .h2 {
    font-size: 26px;
	}

.contact {    font-size: 20px;}
.contact i {    margin-right: 10px; color:#842929;}
.contact iframe {max-width:100%;}
.contact_form {font-size: 16px;}
.contact_form input, .contact_form  textarea	{background: rgba(226, 226, 226, 0.75);
border-radius: 5px;    width: 370px;
    margin-bottom: 15px;
    border: none;max-width: 100%;}
.contact_form  textarea	{    padding: 12px;}



@media only screen and (min-width: 768px) {
	.el_home_section {padding-bottom: 250px;}
	.nav.navbar-nav > li:after {content:"-";}
	.nav.navbar-nav > li:last-child:after {display:none;}
		.nav.navbar-nav > li{display: flex;
    align-items: center;
    justify-content: center;}
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}


img.shadow {    filter: drop-shadow(0px 20px 15px rgba(0, 0, 0, 0.35));
    border-radius: 20px;    margin-top: 20px;
    margin-bottom: 25px;}
	
	
.gm_header_top .dropdown .dropdown-toggle {    padding-top: 10px;
    padding-bottom: 10px; color:white;}
	
	
.gm_header_top .dropdown	.dropdown-menu  {    background: #1d212a;}
.gm_header_top .dropdown	.dropdown-menu a {color:white;}
.gm_header_top .dropdown .dropdown-menu > li > a:hover, .gm_header_top .dropdown .dropdown-menu > li > a:focus {color:black;}


#imglogo {max-height:165px;}

.caret {
	  
    color: white;
}

.gm_footer_bottom_wrapper .phone a {color:white;}
img.rew {height:auto;}